* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
    color: white;
}

#firstSection {
    background-image: url(imgs/firstSection___.png);
    background-size: cover;
    height: 100vh;
}

#secondSection {
    background-image: url(imgs/secondSection.png);
    background-size: cover;
}

header {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    background-color: #3411009c;
}

footer {
    background-color: #3411009c;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 18px;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 24px;
    background: 0, 0%, 100%, 1;
}

nav a div {
    background-color: rgba(161, 159, 155, 0.3);
    padding: 8px;
    border-radius: 10px;
    width: 220px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: 'Goblin One';
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    height: 115px;
    width: 670px;
    left: 13px;
    top: 321.5px;
}

main1, main2 {
    padding: 10px;
}

#texto {
    font-family: 'Gochi Hand';
    font-size: 32px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    height: 272.75px;
    width: 670px;
    left: 13px;
    top: 470.4px;
}

#sections {
    padding: 50px;
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: rgba(48, 48, 48, 0.6);
}

.typesFood {
    color: white;
    text-decoration: none;
    text-align: center; 
}

.typesFood div {
    width: 280px;
    height: 92px;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-size: 22px;
    text-align: center;
}

#upSection, #downSection {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 210px;
}

.imgLogo {
    width: 310px;
}

#arrowToTheTop {
    width: 30px;
}