* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
    color: white;
    font-size: 12pt;
    font-family: Arial;
}

#firstSection {
    background-image: url(imgs/firstSection___.png);
    background-size: cover;
    height: 100vh;
}

#secondSection {
    background-image: url(imgs/secondSection.png);
    background-size: cover;
}

header {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    background-color: #3411009c;
}

footer {
    background-color: #3411009c;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 18px;
    font-style: normal;
    font-size: 20px;
    background: 0, 0%, 100%, 1;
}

nav a div {
    background-color: rgba(161, 159, 155, 0.3);
    padding: 8px;
    border-radius: 10px;
    width: 220px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    width: 550px;
    left: 13px;
    top: 322px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: #00000080;
}

.linksHeader {
    border-radius: 10px;
}

#main1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 100px;
    margin-left: 60px;
    padding: 10px;
}

#texto {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    width: 550px;
}

#sections {
    padding: 50px;
    padding-top: 95px;
    padding-bottom: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: rgba(48, 48, 48, 0.6);
}

.typesFood {
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 18px;
}

.typesFood div {
    width: 280px;
    height: 92px;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-align: center;
}

#nationalFoods div {
    background-image: url(imgs/sectionImgs_/ComidasNacionais.png);
}

#internationalFoods div {
    background-image: url(imgs/sectionImgs_/ComidasInternacionais.png);
}

#simpleFoods div {
    background-image: url(imgs/sectionImgs_/ComidasSimples.png);
}

#veganFoods div {
    background-image: url(imgs/sectionImgs_/ComidasVeganas.png);
}

#sweetFoods div {
    background-image: url(imgs/sectionImgs_/ComidasDoces.png);
}

#saltyFoods div {
    background-image: url(imgs/sectionImgs_/ComidasSalgados.png);
}

#upSection, #downSection {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.imgLogo {
    width: 310px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 12px;
}

footer a, footer div a {
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 18px;
    font-style: normal;
    font-size: 20px;
}

#climbToTheTop div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
}

#creators-sourcesAndCredits {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 400px;
}

#creators, #sourcesAndCredits {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#arrowToTheTop {
    width: 30px;
}